.about-us {
	text-align: center;

	h3 {
		margin-top: 18px;
	}

	.separator {
		margin: {
			top: 36px;
			left: auto;
			bottom: 41px;
			right: auto;
		}
		background-color: $pink;
	}

	p {
		width: 79.75%;
		margin: 0 auto;
	}
}

.gallery {
	margin: 0 auto;
	.backdrop {
		position: relative;
		transition: .75s;
		.gallery-item h5 {
			position: absolute;
			top: 50%;
			left: 50%;
			display: none;
			font-weight: bold;
			color: #fff;
			transform: translate(-50%);
			z-index: 2
		}
		.gallery-image {
			transition: .75s;
		}
	}
	.backdrop + .backdrop {
		margin-left: 26px;
	}
	.backdrop:hover {  
		background-color: $blue;
		line-height: 0;
		.gallery-item {
			animation: {
				fill-mode: both;
				duration: .5s;
				name: lift;
				timing-function: easy-in-out;
			}
			h5 {
				display: inline-block;
			}
			.gallery-image {
				opacity: .1;
				z-index: 1;
			}
		}
	}
}

@keyframes lift {
	0% {
		transform: translate(0, 0);
		background: none;
	}
	100% {
		transform: translate(-10px, -10px);
		background: {
			repeat: no-repeat;
			position: center 40%;
			image: url(../images/icons/users.svg), linear-gradient(to bottom, $pink 0%, $yellow 100%);
		}
	}
}

/*
<section class="about-us">
	<div class="wrapper">
		<h4>What we do</h4>
		<h3>Story about us</h3>
		<div class="separator"></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="container">
		<div class="gallery">
			<span class="backdrop">
				<span class="gallery-item">
					<h5>Our super team</h5>
					<img src="images/stock_07.jpg" alt="Our story moment" class="gallery-image">
				</span>
			</span>
			<span class="backdrop">
				<span class="gallery-item">
					<h5>Our super team</h5>
					<img src="images/stock_08.jpg" alt="Our story moment" class="gallery-image">
				</span>
			</span>
			<span class="backdrop">
				<span class="gallery-item">
					<h5>Our super team</h5>
					<img src="images/stock_09.jpg" alt="Our story moment" class="gallery-image">
				</span>
			</span>
		</div>
	</div>
</section>
*/