.banner {
    h1, h2 {
        text-align: center;
    }
    h1, h2, .separator, .button {
        margin: 0 auto;
        color: inherit;

        &::selection {
            color: darken($pink, 10%);
        }
    }
    h1 {
        width: 66.66%;
    }
    h2 {
        margin-bottom: 42px;
    }
    .separator {
        margin-top: 56px;
        margin-left: auto;
        margin-bottom: 50px;
        margin-right: auto;
        background-color: #fff;
    }
    .button {
        font-family: $secondary-font;
        font-size: rem(14px);
        display: block;
        width: 13.5%;
        padding: 10px 20px;
        border: 3px solid #fff;
        transition: .3s;
        text-align: center;
        text-transform: uppercase;
        font-size: $base-font-size;
        &:hover {
            color: $pink;
            background-color: #fff;
            box-shadow: 0 0 10px lighten($pink, 20%);
        }
    }
}

/*
<div class="wrapper">
    <div class="banner">
        <h2>Creative Template</h2>
        <h1>Welcome to mogo</h1>
        <div class="separator"></div>
        <a href="#" class="button">Learn More</a>
    </div>
</div>
*/