header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.logo {
	    display: inline-block;
	    text-transform: none;
	    color: inherit;
	}

	.navbar {
		display: inline-block;
		width: 51%;
		padding-top: 8px;

		ul {
			display: flex;
			justify-content: space-between;

			li a {
				&.icon {
					width: 24px;
					height: 16px;
				}
				&.cart {
					background-image: url(../images/icons/cart.svg);
					background-size: 24px 14px;
				}

				&.glass {
					background-image: url(../images/icons/magnifying_glass.svg);
					background-size: 24px 16px;
				}
			}
		}
	}

	a {
		padding: 12px;
		font: {
			family: $secondary-font;
			size: 14px;
			weight: normal;
		}
		text-transform: uppercase;
		color: inherit;
		transition: 150ms;

		&.active, &:not([class^="icon"]):hover, {
			color: $yellow;
			border-bottom: 3px solid $yellow;
		}
	}
}

/*
<div class="wrapper">
	<header>
		<h3 class="logo">MoGo</h3>
		<nav class="navbar">
			<ul>
				<li><a href="#" class="active">About</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Work</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#" class="icon cart" title="Cart"></a></li>
				<li><a href="#" class="icon glass" title="Search"></a></li>
			</ul>
		</nav>
	</header>
</div>
*/