.progress-container {
	counter-reset: roadmap;
	.progress-part {
		float: left;
		width: 23%;
		.progress-total {
			margin-bottom: 7.8%;
			height: 3px;
			width: 100%;
			overflow: hidden;
			background-color: #fff;
			.progress-completed {
				height: 100%;
				width: 0;
			}
		}
		& + .progress-part {
			margin-left: 2.66%;
		}
		h5 {
			font-size: rem(18px);
			color: #fff;

			&::before {
				content: counter(roadmap, decimal-leading-zero);
				counter-increment: roadmap;
				margin-right: 4px;
				font-size: rem(24px);
				font-weight: bold;
			}
		}
	}
	@extend .clearfix;
}

/*
<div class="wrapper">
	<ul class="progress-container">
		<li class="progress-part" id="progress-part-1">
			<div class="progress-total">
				<div class="progress-completed"></div>
			</div>
			<h5>intro</h5>
		</li>
		<li class="progress-part" id="progress-part-2">
			<div class="progress-total">
				<div class="progress-completed"></div>
			</div>
			<h5>work</h5>
		</li>
		<li class="progress-part" id="progress-part-3">
			<div class="progress-total">
				<div class="progress-completed"></div>
			</div>
			<h5>about</h5>
		</li>
		<li class="progress-part" id="progress-part-4">
			<div class="progress-total">
				<div class="progress-completed"></div>
			</div>
			<h5>contacts</h5>
		</li>
	</ul>
</div>
*/