.our-services {
	h3, h4 {
		text-align: center;
	}

	h3 {
		margin-top: 1.5%;	// Maybe move to typography-base in the future qa
	}

	.separator {
		margin: {
			top: 3.16%;
			left: auto;
			bottom: 1.416%;
			right: auto;
		}
	}

	.services {
		$icons: "alarm" "graph" "ok" "book" "home" "image";

		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		hr {
			background-color: #eee;
			width: 100%;
			height: 1px;
		}

		.service {
			max-width: 28.3%;	// 340px
			margin: 47px auto;

			.icon {
				display: block;
				float: left;
				width: 32px;
				height: 32px;
				margin-right: 27px;
			}

			@each $icon in $icons {
				.icon.#{$icon} {
					background-image: url(../images/icons/#{$icon}.svg);
				}
			}

			.wrap {
				overflow: hidden;
			}

			h5 {
				margin-bottom: 13px;
			}
			@extend .clearfix;
		}
	}
}

/*
<div class="wrapper">
	<section class="our-services">
		<h4>We work with</h4>
		<h3>Amazing services</h3>
		<div class="separator"></div>
		<div class="services">
			<div class="service">
				<div class="icon alarm"></div>
				<div class="wrap">
					<h5>photography</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ipsam quisquam.</p>
				</div>
			</div>
			<div class="service">
				<div class="icon graph"></div>
				<div class="wrap">
					<h5>web design</h5>
					<p>Blanditiis sapiente pariatur minus laborum, ducimus quasi voluptas iusto.</p>
				</div>
			</div>
			<div class="service">
				<div class="icon ok"></div>
				<div class="wrap">
					<h5>creativity</h5>
					<p>Repellat quam tenetur doloremque nobis enim accusamus facilis commodi?</p>
				</div>
			</div>
			<hr>
			<div class="service">
				<div class="icon book"></div>
				<div class="wrap">
					<h5>seo</h5>
					<p>Debitis in voluptatem blanditiis harum sed, nam corrupti totam quidem velit.</p>
				</div>
			</div>
			<div class="service">
				<div class="icon home"></div>
				<div class="wrap">
					<h5>css/html</h5>
					<p>Voluptatibus doloremque qui recusandae culpa placeat perspiciatis reprehenderit.</p>
				</div>
			</div>
			<div class="service">
				<div class="icon image"></div>
				<div class="wrap">
					<h5>digital</h5>
					<p>Nesciunt ut mollitia velit adipisci numquam saepe soluta sapiente totam.</p>
				</div>
			</div>
		</div>
	</section>
</div>
*/