.stats {
	box-sizing: border-box;
	background-color: $blue;
	font-size: 0;
	color: #fff;
	.stat {
		display: inline-block;
		padding-top: 6.45%;
		padding-bottom: 7.42%;
		width: 20%;
		border: 1px solid #b5eae0;
		border-top: none;
		border-bottom: none;
		box-sizing: border-box;
		text-align: center;
		.stat-value {
			font: {
				family: $secondary-font;
				size: 72px;
				weight: bold;
			}
			margin-bottom: 7.5%;
		}
		.stat-description {
			color: inherit;
		}
	}
	.stat + .stat {
		border-left: none;
	}
}

/*
<div class="container stats">
	<div class="wrapper">
		<figure class="stat">
			<span class="stat-value">42</span>
			<figcaption>
				<h5 class="stat-description">Web design projects</h5>
			</figcaption>
		</figure>
		<figure class="stat">
			<span class="stat-value">123</span>
			<figcaption>
				<h5 class="stat-description">Happy client</h5>
			</figcaption>
		</figure>
		<figure class="stat">
			<span class="stat-value">15</span>
			<figcaption>
				<h5 class="stat-description">Award winner</h5>
			</figcaption>
		</figure>
		<figure class="stat">
			<span class="stat-value">95</span>
			<figcaption>
				<h5 class="stat-description">Cup of coffee</h5>
			</figcaption>
		</figure>
		<figure class="stat">
			<span class="stat-value">24</span>
			<figcaption>
				<h5 class="stat-description">Members</h5>
			</figcaption>
		</figure>
	</div>
</div>
*/