* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    margin-top: -.6%;
}

a, span, img {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::before, .clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.separator {
    display: block;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    background-color: $pink;
}