.container.header {
	position: relative;
	padding-top: 1.2%;
	padding-bottom: 2%;
	background-color: $pink;
	background-image: linear-gradient(to bottom, rgba($pink, .9) 0%, rgba($yellow, .9) 100%), url(../images/stock_00.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;

	.banner {
		margin-top: 13.4%;
		margin-left: 0;
		margin-bottom: 13%;
		margin-right: 0;
	}

}
.about-us {
	padding-top: 6.7%;
	padding-bottom: 8%;

	.gallery {
		margin-top: 7.25%;
	}
}

.our-services {
	padding-top: 9.16%;
	padding-bottom: 4.8%;
}