body {
    color: $grey;
    font: {
        family: $primary-font;
        size: $base-font-size;
    }    
}

h1, h2, h3, h4, h5, h6 {
    color: $black;
}

h1, h3, h5 {
    font-family: $secondary-font;
    font-weight: bold;
    text-transform: uppercase;
}

h2, h4 {
    font-family: $script-font;
}

h1 {
    font-size: 150px;
    line-height: 140px;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px
}

h5 {
    font-weight: normal;
    font-size: 14px;
}

p {
    line-height: $base-line-height;
}

blockquote {
    p {
        font {
            weight: 300;
            style: italic;
            family: $blockquote-font;
        }
    }
    footer {
        font-family: $blockquote-footer-font;
        color: $black;
    }
}