// Typography
$base-font-size: 15px;
$base-line-height: 24px;
$primary-font: 'Roboto';
$secondary-font: 'Montserrat';
$script-font: 'Kaushan Script';
$blockquote-font: $primary-font;
$blockquote-footer-font: $script-font;

// Palette
$black: #333;
$grey: #999;
$pink: #f38181;
$yellow: #fce38a;
$blue: #95e1d3;

// Configs
$em-base: $base-font-size;